@using FriendStuff.Dto;


<div class="@SidebarCssClass">
    @if (UserInfo != null)
    {
        <div class="info">
            <h3 style="margin-bottom: 10px;">@UserInfo.FirstName @UserInfo.LastName</h3>
            <div>
                <p style="margin-right: 10px;">Username:</p>
                <p>@UserInfo.Username</p>
            </div>
            <div>
                <p style=" margin-right: 10px;">Email:</p>
                <p>@UserInfo.Email</p>
            </div>
        </div>
        <NavLink href="/Account/Logout">Logout</NavLink>
    }
</div>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public required UserInfoDto UserInfo { get; set; }

    private string SidebarCssClass => IsOpen ? "sidebar open" : "sidebar";

}
